
.navbar {
    padding: 10px;
    background-color: black;

}
.navbar-title {
 color: brown;
}

.navbar-btn {
    display: inline-block;
    background-color: black;
    color: blueviolet;
    padding: 10px 30px;
}

.navbar-btn:hover{
    background-color: aquamarine;
}