nav {
    position: sticky;
    top: 0;

}

.navbar {
    display: flex;
    padding: 10px;
    background-color: black;
}

.navbar-title {
    color: #11b0c0;
}

.navbar-btn {
    background-color: black;
    color: #fff;
    padding: 10px 30px;
}

.navbar-btn:hover{
    background-color: #11b0c0;
}

